.App {
  text-align: center;
}

.main-bg {
  height : 500px;
  background-image : url('./mainshoes.jpg');
  background-size : cover;
  background-position : center;
}

.mt_10{
  margin-top: 10px;
}
.mt_50{
  margin-top: 50px;
}
.mt_100{
  margin-top: 100px;
}
.mt_200{
  margin-top: 200px;
}

.mb_50{
  margin-bottom: 50px;
}
.mb_100{
  margin-bottom: 100px;
}
.mb_200{
  margin-bottom: 200px;
}

.ml_0{
  margin-left :0px;
}
.ml_3{
  margin-left :3px;
}

.mr_0{
  margin-right: 0px;
}
.mr_3{
  margin-right:3px;
}
.mr_500{
  margin-right: 500px;
}



.pb_50{
  padding-bottom: 50px;
}
.pt_50{
  padding-top: 50px;
}

.pb_30{
  padding-bottom: 30px;
}
.pt_30{
  padding-top: 30px;
}

.pl_0{
  padding-left :0px;
}

.cart-button{
  cursor:pointer;
  
}

.one_border {
  border-style: solid;
  border-width: 1px;
}

.lastest{
  float: right;
  position: sticky;
  top: 100px;
}

.nav-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;

  /* 생략 */
}
.info-tag > p{
  margin: 0;
}

#notice{
  bottom: 1000px;
}
/*전환 애니메이션*/
/*transition은 "해당 속성이 변할 때 서서히 변경해주세요~" 라는 뜻입니다.*/
.start {
  opacity : 0
}
.end {
  opacity : 1;
  transition : opacity 0.5s;
}

/*기타*/
.main-category{
  padding: 0;
  margin-left: 0px;
}

.white{
  color:white;
}
.black{
  color:black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
